<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Model.Settings1.Setting" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=WuerfelSpiel.accdb"
            providerName="" />
        <add name="Model.Properties.Settings1.DB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=WuerfelSpiel.accdb" />
    </connectionStrings>
</configuration>